# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = sixspider.settings

# Project: sixspider
[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = ca571c498800449da55f267085ac96ff
password =
project = 20630
